font-family = "FiraCode Nerd Font Mono"
font-size = 14
theme = catppuccin-mocha
cursor-style = block
shell-integration=zsh
shell-integration-features = no-cursor
cursor-style-blink=false
keybind = global:ctrl+grave_accent=toggle_quick_terminal
macos-titlebar-style = tabs
window-height = 49
window-width = 167
